.cordarius-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.cordarius-banner {
    width: 100%;
    height: 65vh;
    object-fit: cover;    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cordarius-title-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4.5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
    color: #191919;
    font-weight: 200;
}

.cordarius-btn {
    --bg: #000000;
    --hover-bg: #BB030E;
    position: absolute;
    font-family: 'inter';
    font-size: 0.7rem;
    color: #fff;
    left: 89%;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 0.4rem;
    padding: 1em 1.5em;
    background: var(--bg);
    transition: 0.3s;
}

i {
    font-size: 10px;
}

.gap-btn {
    margin-left: 6px;
}

.cordarius-btn:hover {
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.cordarius-btn button:active {
    transform: translate(0);
    box-shadow: none;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

@media (max-width: 1280px) {
    
    .cordarius-btn {
        margin-top: 1px;
        font-size: 0.7rem;
        left: 85%;
        padding: 1em 1.5em; 
    }

    .cordarius-banner {
        height: 600px;
    }

}

@media (max-width: 1024px) {
    .cordarius-banner{
        width: 105%;
        max-width: none;
    }
    
    .cordarius-btn {
        margin-top: 2px;
        font-size: 0.7rem;
        left: 80%;
        padding: 1em 1.5em; 
    }

    .cordarius-btn-container {
        flex-direction: column; 
        margin-top: 3rem;
    }

    .cordarius-banner {
        background-image: url("../assets/banner-mobile.png");
        height: 500px;
    }


}

@media (max-width: 768px) {

    .cordarius-btn {
        display: block;
        margin-top: 1px;
        font-size: 0.6rem;
        left: 80%;
        padding: 1em 1em; 
    }


    .cordarius-banner {
        background-image: url("../assets/banner-mobile.png");
        height: 400px;
    }
    
}

@media (max-width: 480px) {

    .cordarius-btn {
        display: block;
        margin-top: 1px;
        font-size: 0.6rem;
        left: 65%;
        padding: 0.8em 1em; 
    }
    

    .cordarius-banner {
        background-image: url("../assets/banner-mobile.png");
        width: 100;
        height: 250px;
    }
}